@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Open+Sans');

html {
  background: #eee;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

nav {
  width: 100%;
  text-align: center;
}
  nav ul {
    display: inline-block;
    width: auto;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }
    nav ul li {
      display: inline-block;
      margin: 0 10px;
      padding: 0;
    }
      nav ul li a {
        display: block;
        margin: 0;
        padding: 10px;
      }

h1 {
  font-family: 'Crimson Text', serif;
}
