
/* ========================================================================== */
/* fonts */
/* ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Open+Sans');



/* ========================================================================== */
/* reset */
/* ========================================================================== */
@import url("normalize.css");
* { box-sizing: border-box; }
*:before,
*:after {
  box-sizing: border-box;
  pointer-events: none;
}


/* ========================================================================== */
/* site */
/* ========================================================================== */
html {
  background: #eee;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
}


/* ========================================================================== */
/* header */
/* ========================================================================== */
header {
  text-align: center;
}
  .site-name {
    font-family: 'Crimson Text', serif;
    font-weight: bold;
  }
  .site-tagline {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
  }


/* ========================================================================== */
/* navigation */
/* ========================================================================== */
nav {
  width: 100%;
  text-align: center;
}
  nav ul {
    display: inline-block;
    width: auto;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }
    nav ul li {
      display: inline-block;
      margin: 0 10px;
      padding: 0;
    }
      nav ul li a {
        display: block;
        margin: 0;
        padding: 10px;
      }

      /* active links */
      body.home nav li.home a,
      body.about nav li.about a,
      body.products nav li.products a,
      body.recipes nav li.recipes a,
      body.how-to nav li.how-to a {
        font-weight: bold;
      }

/* ========================================================================== */
/* html elements */
/* ========================================================================== */
h1 {
  font-family: 'Crimson Text', serif;
}

/* ========================================================================== */
/* content */
/* ========================================================================== */
main {
  padding: 0 20px;
}
